/* 
    Document   : dashboard
    Created on : 13-jun-2016, 12:31:24
    Author     : antonio
    Description:
        Purpose of the stylesheet follows.
*/


.anto-section {
  margin: 10px auto;
  max-width: 20%;
  background: blue;
  border-radius: 6px;
  color: white;
  font: 14px/24px "Lucida Console";
  padding: 24px 5px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  float: left;
  
}

aside {
  margin: 10px;
  background: green;
  border-radius: 6px;
  color: white;
  font: 14px/24px "Lucida Console";
  padding: 24px 15px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  display:block;
  float: right;
  width: 70%;
}